
RewriteEngine on

ErrorDocument 404 http://localhost/www/404.php

RewriteRule ^index$ index.php [NC,L]
RewriteRule ^blog$ blog.php [NC,L]
RewriteRule ^article$ article.php [NC,L]



RewriteRule ^blog/([0-9a-zA-Z-_]+)-([0-9]+)$ article.php?sef=$1&article_id=$2 [L,QSA]
RewriteRule ^sayfa-([0-9a-zA-Z-_]+)-([0-9]+)$ menu-detay.php?sef=$1&menu_id=$2 [L,QSA]