/* VARIABLES */

$profile-bg:#F4F4F4;
$prfile-border: #08d9d6;

/* PROFILE */

.profile {
    background-color: $profile-bg;
    height: auto;
    margin-top: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    .profile-img {
        height: 150px;
        margin-top: 20px;
        text-align: center;
        position: relative;
        img {
            width: 150px;
            height: 150px;
            border-radius: 180px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
    }
    .profile-title {
        color: #19212D;
        margin-top: 10px;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        text-align: center;
        letter-spacing: 5px;
    }
    .profile-who {
        color: #95989A;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    .profile-mail {
        color: #95989A;
        margin: 0 auto;
        padding: 25px;
        text-align: center;
    }
    .profile-text {
        color: #95989A;
        font-size: 15px;
        border-left: 2px solid $prfile-border;
    }
    .profile-social {
        color: #95989A;
        margin-top: 20px;
        text-align: center;
        i {
            margin-right: 15px;
            margin-bottom: 15px;
            font-size: 20px;
        }
        a {
            color: #95989A;
        }
    }
}

.rightside {
    color: #fff;
    margin-top: 35px;
    .rightside-in {
        color: #95989A;
        font-size: 15px;
        @media screen and (max-width: 445px) {
            font-size: 12px;
        }
        padding: 5px;
        height: auto;
        border: 2px solid transparent;
        -moz-border-image: -moz-linear-gradient(right, #ff2e63 10%, #f9ed69 100%);
        -webkit-border-image: -webkit-linear-gradient(right, #ff2e63 10%, #f9ed69 100%);
        border-image: linear-gradient(to left, #ff2e63 20%, #f9ed69 100%);
        border-radius: 50%;
        border-image-slice: 1;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        letter-spacing: 1px;
        i {
            font-size: 30px;
            color: #F4F4F4;
            margin-right: 15px;
            @media screen and (max-width: 445px) {
                font-size: 20px;
            }
        }
        a {
            color: #95989A;
        }
    }
}